<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DES_CBC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F14362541F0F24540023EDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F143626D1F0F24550023EDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F14362781F0F24550023EDFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
